<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>基础组件</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta name="format-detection" content="telephone=no,email=no">
    <script>(window.__setFontSize__=function(){document.documentElement.style.fontSize = Math.min( 750, Math.max(document.documentElement.clientWidth, 320) ) / 320 * 14 + 'px'})()</script>
    <link rel="stylesheet" href="/demo/css/main.css" />
    <link rel="stylesheet" href="/demo/css/page/index.css" />
</head>
<body>
<div id="viewport">
   <div id="header">
        <header>
            <span class="l"><i class="back" event-src="click_back"></i></span>
            <h1>日期选择器</h1>
            <span class="r"></span>
        </header>
    </div>
    <div id="main">
        生日: <input id="birth" readonly="readonly " type="text" event-src="showPicker"/>
    </div>
</div>
<script>
var zero_config = {
    controller: '/demo/js/page/ui/datepicker.js',
    data: {
    },
    env: 'prd'
};
</script>
<script data-main="/demo/js/page/common.js?v=1" src="/demo/build/zero.seed.js"></script>
</body>
</html>