<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>众安保险前端DEMO</title>
    <meta name="keywords" content="demo" />
    <meta name="description" content="demo" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta content="yes" name="apple-touch-fullscreen">
    <script>(window.__setFontSize__=function(){document.documentElement.style.fontSize = Math.min( 750, Math.max(document.documentElement.clientWidth, 320) ) / 320 * 14 + 'px'})()</script>
    <link rel="stylesheet" href="/demo/css/main.css" />
    <link rel="stylesheet" href="/demo/css/page/index.css" />
</head>
<body>
<div id="viewport" class="pg-index pb30">
    <div id="header">
        <header>
            <span class="l"><i class="back" event-src="click_back"></i></span>
<!--            <span class="l"><i class="menu" onclick="_toggleMenu_()"><em></em></i></span>-->
            <h1>目录</h1>
            <span class="r"></span>
        </header>
    </div>
    <div id="main">
        <!-- Framework -->
        <p class="sub-title"><label>Framework</label></p>
<!--        <a href="core/demointro.html" class="btn bigbtn">本demo介绍</a>-->
        <div>
<!--             <a href="core/intro.html" class="btn bigbtn">Zero框架介绍</a> -->
<!--             <a href="core/layout.html" class="btn bigbtn">布局方式</a> -->
            <a href="core/zeroconfig.html" class="btn bigbtn">zero_config</a>
            <a href="core/controller.html" class="btn bigbtn">Controller</a>
            <a href="core/viewmodel.html" class="btn bigbtn">View Model</a>
<!--             <a href="core/zerorule.html" class="btn bigbtn">相关规范</a> -->
            <a href="core/changelog.html" class="btn bigbtn">ChangeLog</a>
        </div>
        <!-- Component -->
        <p class="sub-title mt20"><label>Component</label></p>
        <div>
            <a href="comps/widget.html" class="btn bigbtn">基础组件</a>
            <a href="comps/calendar.html" class="btn bigbtn">日历</a>
            <a href="comps/imageview.html" class="btn bigbtn">图片预览</a>
            <a href="ui/imageview2.html" class="btn bigbtn">图片预览2</a>
            <a href="comps/number.html" class="btn bigbtn">数字</a>
            <a href="comps/select.html" class="btn bigbtn">Select</a>
            <a href="ui/scroll.html" class="btn bigbtn">iScroll</a>
            <a href="ui/inputclear.html" class="btn bigbtn">InputClear</a>
            <a href="ui/loadmore.html"s class="btn bigbtn">LoadMore</a>
            <a href="ui/alphapicker.html"s class="btn bigbtn">AlphaPicker</a>
            <a href="ui/datepicker.html"s class="btn bigbtn">DatePicker</a>
            <a href="ui/datapicker.html"s class="btn bigbtn">DataPicker</a>
            <a href="ui/loadingbutton.html" class="btn bigbtn">LoadingButton</a>
        </div>
        <!-- Tools -->
        <p class="sub-title mt20"><label>Tools</label></p>
        <div>
            <a href="tool/share.html" class="btn bigbtn">分享【兼容App】</a>
            <a href="tool/imagemin.html" class="btn bigbtn">Imagemin</a>
        </div>
        <!-- Others -->
        <p class="sub-title mt20"><label>Others</label></p>
        <div>
            <a href="core/template.html" class="btn bigbtn">模板系统</a>
            <a href="other/zeptext.html" class="btn bigbtn">zept扩展</a>
            <a href="other/fakeapi.html" class="btn bigbtn">接口模拟</a>
        </div>
    </div>
    <footer id="footer" class="tc"></footer>
</div>
<script>
var zero_config = {
    controller: '/demo/js/page/index.js',
    data:{},
    env: 'prd'
}
</script>
<script data-main="/demo/js/page/common.js" src="/demo/build/zero.seed.js"></script>
</body>
</html>
