<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>基础组件</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta name="format-detection" content="telephone=no,email=no">
    <script>(window.__setFontSize__=function(){document.documentElement.style.fontSize = Math.min( 750, Math.max(document.documentElement.clientWidth, 320) ) / 320 * 14 + 'px'})()</script>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/page/index.css" />
</head>
<body>
<div id="viewport" class="pg-ui-inputclear">
   <div id="header">
        <header>
            <span class="l"><i class="back" event-src="on_click_back"></i></span>
            <h1>接口本地模拟</h1>
            <span class="r"></span>
        </header>
    </div>
    <div id="main">
        <p class="sub-title mb10"><label>接口本地模拟</label></p>
        <p>1. 需本地新建 fakeapi 目录（可参考本示例）</p>
        <p>2. 在fakeapi目录下新建*.json文件。该文件中可随意书写任何js，末尾返回一个你需要的js对象即可</p>
        <p>3. 正常使用 Zero.ajax, 将url指向该json文件</p>
        <p>4. 其他不变</p>
        <p class="mt20">
            <strong>
                注：
                <br>1. json文件中可以书写任意js代码，只要最后return一个你要的数据就行了
                <br>2. 该功能在gulp server跑出的web服务器有效，其他服务器未知
            </strong>
        </p>
        <p class="mt10">
            <a href="../ui/loadmore.html" class="underline"><label>可参考 ui.loadmore</label></a>
        </p>
    </div>
</div>
<script>
var zero_config = {
    controller: 'default',
    data: {
        test: 1
    },
    actions:{
        run: function(data){
            console.log(data.test)
        }
    },
    env: 'prd'
};
</script>
<script data-main="/demo/js/page/common.js?v=1" src="/build/zero.seed.js"></script>
</body>
</html>